@import "tailwindcss";

:root {
    --background: #0b0f14;
    --foreground: #e5e7eb;
    --border: #334155;
    --surface: #121821;
}

.light {
    --background: #ffffff;
    --foreground: #0f172a;
    --border: #e5e7eb;
    --surface: #f7f7f7;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --color-surface: var(--surface);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.image-auto-contrast {
    filter: invert(1);
}
.light .image-auto-contrast {
    filter: none;
}
